@{
    ViewBag.Title = "问卷发布";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            @ViewBag.Title
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <label class="form-control">问卷名：@ViewBag.qnname</label>
            <label class="form-control">问卷地址：<a id="url" target="_blank" href="@ViewBag.qnurl">@ViewBag.qnurl</a></label>
            <div class="col-md-4"></div>
            <div class="col-md-4" id="code"></div>
            <div class="col-md-4"></div>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>

<script src="@Url.Content("/Scripts/jquery.qrcode.min.js")"></script>
<script>

    function getRootPath() {
        var strFullPath = window.document.location.href;
        var strPath = window.document.location.pathname;
        var pos = strFullPath.indexOf(strPath);
        var prePath = strFullPath.substring(0, pos);
        var postPath = strPath.substring(0, strPath.substr(1).indexOf('/') + 1);
        return (prePath);
    }

    $(function () {
        var p2 = $("#url").text();
        var fullpath = getRootPath() + p2;
        $("#url").text(fullpath);
        $("#code").empty();
        $("#code").qrcode({
            render: "canvas",
            width: 300,
            height: 300,
            text: fullpath
        });
    })
</script>