@{
    ViewBag.Title = "提示信息";
    Layout = "~/Views/_Layout_student.cshtml";
}
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            @ViewBag.Title
        </div>
        <div class="panel-body">
            <div class='alert alert-info'>@ViewBag.message </div>
        </div>
    </div>
</div>